<%= f.hidden_field :user_id %>

<div class="field is-grouped">
  <div class="control is-expanded">
    <%= f.text_field :title, class: "input", placeholder: "title" %>
  </div>
  <div class="control">
    <%= f.submit "Save", class: "button is-primary" %>
    <% unless note.new_record? %>
      <%= link_to "Delete", note, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
    <% end %>
  </div> 
</div>
  
<div class="field">
  <div class="control">
    <markdown-editor object="note" name="body" value="<%= note.body %>" />
  </div>
</div>
