<h2 class="title">Edit Account </h2>

<div class="columns">
  <div class="column is-6">
    <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch }) do |f| %>
     
      <%= devise_error_messages! %>

      <!-- 
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      -->

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <div class="control">
          <%= f.password_field :password, autocomplete: "off", class: "input" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "label" %> 
        <div class="control">
          <%= f.password_field :current_password, autocomplete: "off", class: "input" %>
          <i>(we need your current password to confirm your changes)</i>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button is-primary" %>
        <%= link_to "Cancel", root_path, class: "button" %>
      </div>
    <% end %>
  </div>

  <div class="column is-6">
    <p>Unhappy? <%= button_to "Cancel my account", user_registration_path, class: "button is-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>