<% passwords.each do |password| %>
  <tr id = "<%= password.id %>" >
    <th><%= password.id %></th>
    <td><%= password.name %></td>
    <td><%= password.login %></td>
    <td><%= password.password %></td>
    <td><%= password.url %></td>
    <td><%= password.description %></td>
    <td>
      <%= link_to "Edit", edit_password_path(password), class: "button is-link" %>
      <%= link_to "Delete", password, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
    </td>
  </tr>
<% end %>