<% passwords.each do |password| %>
  <tr id = "<%= password.id %>" >
    <td><%= password.name %></td>
    <td>
      <%= link_to password.url, password.url, target: :_blank if password.url %>
    </td>
    <td><%= password.login %></td>
    <td>
      <%= link_to copy_to_clipboard_password_path(password), method: :post, remote: true, class: "button" do %>
        <%= fa_icon :clipboard %>
      <% end %>
    </td>
    <td>
      <%= link_to "Edit", edit_password_path(password), class: "button is-link" %>
      <%= link_to "Delete", password, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>
    </td>
  </tr>
<% end %>